@model MovieFan.Models.Movies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.create == null)
{
    <div id="divShow">
        <div class="row">
            <h4>Détails de @Model.Title</h4>
            <div id="cmdEdit" class="btn btn-sm btn-primary ml-5">Editer</div>
            <a asp-action="Index" class="btn btn-sm btn-info ml-3">Retour à la liste</a>
        </div>
        <hr />
        <div class="row">
            <label asp-for="ReleaseDate " class="control-label mr-3 col-2"></label>
            <div class="col-8">
                @String.Format("{0:dddd, dd MMMM yyyy}", Model.ReleaseDate)
            </div>
        </div>
        <hr />
        <div class="row">
            <label asp-for="Synopsis " class="control-label mr-3 col-2"></label>
            <div class="col-8">
                @Model.Synopsis
            </div>
        </div>
        <hr />
        <div class="row">
            <label asp-for="Category.Name " class="control-label mr-3 col-2"></label>
            <div class="col-8">
                @Model.Category.Name
            </div>
        </div>
        <hr />
        <div class="row">
            <label asp-for="Rating.Name " class="control-label mr-3 col-2"></label>
            <div class="col-8">
                @Model.Rating.Name
            </div>
        </div>
        <hr />
        <div class="row">
            <label asp-for="Likers " class="control-label mr-3 col-2"></label>
            <div class="col-8">
                @String.Join(", ", Model.Likers)
            </div>
        </div>
    </div>
}

<div id="divEdit" class=@(ViewBag.create != null ? "" : "d-none")>
    <form asp-action="@(ViewBag.create != null ? "Create" : "Edit")">
        <div class="row">
            @if (ViewBag.create != null)
            {
                <h4>Nouveau film</h4>
            }
            else
            {
                <h4>Modification de @Model.Title</h4>
            }
            <input type="submit" class="btn btn-sm btn-success ml-5" value="Enregistrer" />
            <div id="cmdCancel" class="btn btn-sm btn-info ml-3 mr-5">Annuler</div>
            @if (ViewBag.create == null)
            {
                <div id="cmdDelete" class="btn btn-sm btn-danger ml-5">Supprimer</div>
            }
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="Title" class="control-label col-2"></label>
            <input asp-for="Title" class="form-control col-6" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="ReleaseDate" class="control-label col-2"></label>
            <input asp-for="ReleaseDate" class="form-control col-6" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="Synopsis" class="control-label col-2"></label>
            <textarea asp-for="Synopsis" class="form-control col-6">@Model.Synopsis</textarea>
            <span asp-validation-for="Synopsis" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group row">
            <label asp-for="Category.Name" class="control-label col-2"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control col-6"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Rating.Name" class="control-label col-2"></label>
            @foreach (var item in ViewBag.ratings)
            {
                <input asp-for="RatingId" type="radio" value="@item.Id" class="form-control ml-3 col-1" /><label class="control-label">@item.Name</label>
            }
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="Picture" value="@Model.Picture"
        <hr />
    </form>
</div>
<form method="post" asp-action="Delete" id="frmDelete" class="d-none">
    <input type="hidden" name="id" value="@Model.Id" />
</form>
<hr />
<script src="\js\showedit.min.js"></script>
