@model MovieFan.Models.Movies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Détails de @Model.Title</h4>
        <hr />
        <div class="row">
            @Model.Synopsis
        </div>
        <hr />
        <div class="row">
            <label class="control-label mr-3">Catégorie:</label>@Model.Category.Name
        </div>
        <hr />
        <div class="row">
            <label class="control-label mr-3">Rating:</label>@Model.Rating.Name
        </div>
        <hr />
        <div class="row">
            <label class="control-label mr-3">Likers:</label>@Model.Likers
        </div>
    </div>
<hr />
<div>
    <a href="/Movie/Edit/@Model.Id" class="btn btn-primary">Editer</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
